@mixin keyframes( $animation-name ) {
  
  @-webkit-keyframes #{ $animation-name } {
    @content; 
  }
  @-moz-keyframes #{ $animation-name } {
    @content;
  }
  @-ms-keyframes #{ $animation-name } {
    @content;
  }
  @keyframes #{ $animation-name } {
    @content;
  } 
}


@mixin animation ( $animation-prop ) {
    -webkit-animation: $animation-prop;
    -moz-animation: $animation-prop;
    -ms-animation: $animation-prop;
    animation: $animation-prop;
}